/*
========================================================================================
    Nextflow config file for running nf-test tests
========================================================================================
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '8.GB',
        time: '1.h'
    ]
}

params {
    modules_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/modules/data/'
    pipelines_testdata_base_path = 'https://raw.githubusercontent.com/nf-core/test-datasets/refs/heads/deepmutscan'
    // Input data
    input = params.pipelines_testdata_base_path + '/samplesheet/GID1A_test.csv'
    fasta = params.pipelines_testdata_base_path + '/testdata/GID1A.fasta'
    reading_frame = '352-1383'
    min_counts = 2
    mutagenesis_type = 'nnk_nns'
    run_seqdepth = true
    fitness = true
}

aws.client.anonymous = true // fixes S3 access issues on self-hosted runners
