/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
        containerOptions = ''
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BWA_INDEX' {
        publishDir = [
            path: "${params.outdir}/intermediate_files/bam_files",
            mode: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: 'BWA_MEM' {
        publishDir = [
            path: "${params.outdir}/intermediate_files/bam_files/bwa/mem",
            mode: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: 'BAMFILTER_DMS' {
        publishDir = [
            path: "${params.outdir}/intermediate_files/bam_files/filtered",
            mode: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: 'PREMERGE' {
        publishDir = [
            path: "${params.outdir}/intermediate_files/bam_files/premerged",
            mode: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: 'GATK_SATURATIONMUTAGENESIS' {
      publishDir = [
        path: "${params.outdir}/intermediate_files/gatk",
        mode: 'copy',
        overwrite: false,
        // put everything except versions.yml under a folder named by the sample id
        saveAs: { filename ->
          if (filename == 'versions.yml') return null
          "${meta.id}/${filename}"
        }
      ]
    }

    withName: 'DMSANALYSIS_POSSIBLE_MUTATIONS' {
        publishDir = [
            path: "${params.outdir}/intermediate_files",
            mode: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: 'DMSANALYSIS_AASEQ' {
        publishDir = [
            path: "${params.outdir}/intermediate_files",
            mode: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }

    withName: 'DMSANALYSIS_PROCESS_GATK' {
        publishDir = [
            path: "${params.outdir}/intermediate_files/processed_gatk_files",
            mode: 'copy',
            saveAs: { filename -> 
	    if (filename == 'versions.yml') return null 
	    "${meta.id}/${filename}" 
	    }
        ]
    }
    
    withName: /.*VISUALIZATION_.*/ {
        publishDir = [
          path: { "${params.outdir}/final_plots" },   // e.g. results/final_plots
          mode: 'copy',
          overwrite: false,
          saveAs: { fn ->
            if (fn == 'versions.yml') return null
            "${meta.id}/${fn}"    // put every output under the sample's subfolder
          }
        ]
      }

    withName: 'GATK_GATKTODIMSUM' {
        publishDir = [
            path: "${params.outdir}/DiMSum",
            mode: 'copy',
            saveAs: { filename -> filename == 'versions.yml' ? null : filename }
        ]
    }
}
